*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #262626;
}

.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #fafafa;
}

/* Navigation bar (first column) */
.column1{
    flex: 20%;
    border-right: 1px solid #DBDBDB;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 25px 80px 40px 30px;
    text-align: left;
    background-color: #fff;
    position: fixed;
}

.column1 .logo img{
    width: 120px;
    padding-bottom: 25px;
}

.column1 .nav-menu, .more{
    display: flex;
    align-items: center;
    align-content: center;
}

.icons{
    margin-right: 20px;
    font-size: 22px;
}

.icons, .icon-label{
    padding: 12px 0 20px;
}

.nav-menu .icons img{
    height: 28px;
    width: 28px;
    object-fit: cover;
    border: 1px transparent #000;
    border-radius: 50%;
}

.more{
    padding-top: 35px;
}

/* News Feed (middle section, second column) */
.column2 {
    display: flex;
    flex: 80%;
    justify-content: flex-end;
    align-content: center;
    padding: 30px;
    margin: 0 50px;
}

/* view stories section */
.column2 .stories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 450px;
    background-color: #fff;
    padding: 20px 0 20px 5px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
}

.column2 .stories img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3px solid palevioletred;
    border-radius: 50%;
}

.stories span{
    font-size: 12px;
    text-align: center;
    display: block;
}

/* news feed Section */
.feed .card{
    background-color: #fff;
    width: 450px;
    height: 850px;
    margin: 20px 0;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
}

.top-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #DBDBDB;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0 20px;
}

.top-card>div>img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 3px solid palevioletred;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-pic {
    display: flex;
    justify-content: flex-start;
}

.profile-pic>div>p{
    font-size: 14px;
    font-weight: 600;
}

.profile-pic>div>span{
    font-size: 12px;
}

.feed .post{
    left: 0;
    right: 0;
    width: 450px;
    height: 580px;
    vertical-align: baseline;
    overflow: hidden;
}

.feed .post .vid-post{
    left: 0;
    right: 0;
    width: 450px;
    height: 580px;
    vertical-align: baseline;
    overflow: hidden;
    background-color: #262626;
}

.feed .post img{
    width: 100%;
    object-fit: contain;
}

.comment-card{
    width: 100%;
    padding: 10px 0;
}

.comment-card .comment-icons{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.left-icons i, .right-icons i{
    font-size: 20px;
}

.left-icons i{
    margin-right: 10px;
}

.caption{
    padding: 0 10px;
}

.caption .likes, .caption p{
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
}

.caption span{
    font-weight: 400;
}

.caption .view, .caption .time{
    color: #8E8E8E;
}

.caption .time{
    font-size: 12px;
}

.comment-input-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-top: 1px solid #DBDBDB;
    padding: 8px 12px;
    margin-top: 15px;
}

.comment-input-field>a>i{
    font-size: 20px;
}

.comment-input-field input{
    width: 320px;
    outline: none;
    border: transparent;
}

.comment-input-field input:placeholder-shown{
    padding: 8px 0;
    font-size: 14px;
}

.comment-input-field button{
    outline: none;
    border: none;
    padding: 5px 10px;
    color: #B3DBFF;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
}

/* User profile and user suggestions (third column) */
.column2 .column2-right{
    width: 400px;
    padding: 50px 40px;
}

.column2-right .user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.column2-right .user .user-profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.column2-right .user .user-profile img{
    width: 50px;
    height: 50px;
    border: 2px transparent #8E8E8E;
    border-radius: 50%;
    margin-right: 20px;
}

.user-profile-text p, span, .suggestions-container .suggestions p, span{
    font-size: 14px;
    font-weight: 600;
}

.user-profile-text span, .suggestions p{
    color: #8E8E8E;
}

.user-profile-text .follow{
    font-size: 12px;
}

.column2-right .option{
    font-size: 12px;
    color: #0095F6;
    font-weight: 700;
}

.column2 .suggestions-container .suggestions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.column2-right .suggestions-container .user .user-profile img{
    width: 40px;
    height: 40px;
    border: 2px transparent #8E8E8E;
    border-radius: 50%;
    margin-right: 20px;
}

.suggestions-container .user{
    margin-bottom: 15px;
}

.column2 .footer span, .copyright span{
    font-size: 12px;
    font-weight: 400;
    color: #CAC7D1;
    margin-left: 5px;
}

.column2 .footer{
    margin-bottom: 20px;
}

.fa-circle{
    font-size: 2px;
    color: #CAC7D1;
    vertical-align: middle;
}